<div class="wrapper">
  <%= render 'shared/header' %>
  <div class="page-title">
    <h2>ツーリング一覧</h2>
  </div>

  <div class="events">
    <ul class="event-lists">
      <% @events.each do |event| %>
        <li class="list">
          <%= link_to event_path(event.id), method: :get do %>
            <div class="owner-image">
              <% if event.user.profile.image.attached? %>
                <%= image_tag event.user.profile.image.variant(resize: '140x140') %>
              <% else %>
                <%= image_tag 'sample.png', size: '140x140' %>
              <% end %>
            </div>
            <div class="event-info">
              <h3 class="event-title">
                <%= "#{event.title}" %>
              </h3>
              <h4 class="event-date">
                出発日：<%= "#{event.date}" %>
              </h4>
              <h4 class="event-owner">
                主催者：<%= "#{event.user.profile.nickname}"%>
              </h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render 'shared/footer' %>
</div>
